<predict-spinner [isLoading]="isLoading"></predict-spinner>
<main>
  @if(showAlert) {
  <predict-toast
    [timeout]="alertModel.timeout"
    [status]="alertModel.status"
    [message]="alertModel.message"
  ></predict-toast>
  }
  <h2>{{ title }}</h2>
  <div>
    <div>
      <label for="seachPlayerCareer">Search Active Player</label>

      <input
        #playerName
        placeholder="enter player name"
        (keyup.enter)="searchPlayer(playerName.value); playerName.value = ''"
        class="lg-text-input"
        id="searchPlayerCareer"
      />

      <predict-button
        [label]="buttonLabel"
        (handleClick)="searchPlayer(playerName.value)"
        [disabled]="isLoading"
      />
      <h2>{{ playerName.value }}</h2>
    </div>
    <predict-table
      [tableData]="playerCareer"
      [columns]="predictedStatCols"
      [noDataMessage]="'No Player Data'"
    />
  </div>
  @if(playerCareer.length > 0){
  <predict-root></predict-root>
  }
</main>
