.link-btn {
  text-decoration: none;
  color: black;
  background-color: orange;
  padding: 0.7em;
  border-radius: 10%;
  margin: 1em;
}

.link-btn:hover {
  padding: 1em;
}

.btn-div {
  display: flex;
  justify-items: start;
  flex-direction: row;
  margin-top: 2em;
}

input, label {
  display: block;
}

.btn-primary {
  border: none;
  background-color: orange;
  padding: 10px;
  border-radius: 12px;
  margin: 10px;
}

.btn-primary:hover {
  opacity: 0.6;
}

input, button {
  display: inline-block;
}