<main>
  <h2>Login NBA Stat</h2>
  <div class="form-div">
    <form>
      <label for="enterUserName">Please Enter User Name</label>
      <input
      type="text"
      #username
      (change)="setUserName($event)"
      placeholder="enter user name"
      class="lg-text-input"
      id="enterUserName" />

      <label for="enterPassword">Please Enter Password</label>
      <input
      type="text"
      #password
      (change)="setPassword($event)"
      placeholder="enter password"
      class="lg-text-input"
      id="enterPassword" />
      <button class="submit-btn" (click)="submitLogin($event)">Submit</button>
    </form>
  </div>
</main>